@page "/"
@inject NavigationManager NavigationManager

<h1>Välkommen till Glosor.online</h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Läxor</h5>
            <button type="button" class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo("create/homework/"))">Skapa en läxa</button>
        </div>
        <div class="col">
            <h5>Förhör</h5>
            <button type="button" class="btn btn-primary" @onclick="@(()=>NavigationManager.NavigateTo("homeworks/"))">Starta förhör</button>
        </div>
    </div>
</div>